@import url('https://fonts.googleapis.com/css2?family=Poppins:wgth@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



html,
body {
    background: linear-gradient(#020024 0%, #020024 50%, #020024 90%);
    min-height: 100vh;
    height: 100%;
    background-color: #020024;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#text {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.logo {
    color: #fff;
    font-size: 2em;
    cursor: default;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
    padding: 6px 15px;
    border-radius: 20px;
}

.navbar a:hover,
.navbar a.active {
    background: #880505
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    min-height: 100vh;
    position: relative;
    padding: 100px;
    background: #020024;
    color: #fff;
    overflow: auto;
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec h2:nth-child(2) {
    font-size: 2em;
}

.sec p {

    font-size: 25px;
    color: #fff !important;
    font-weight: 300;
}

.sec {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/stars.png');
    background-position: center;
    background-size: cover;
    z-index: -1;
}


.parallax-bg {
    transform: translateZ(-1px) scale(2);
}

h2,
p {
    margin: 10px 0;
}

.content {
    position: relative;
    padding: 50px;
    color: white;
    z-index: 1;
}


.sec {
    perspective: 1px;
    transform-style: preserve-3d;
}